body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
.tomato-color{
    color: tomato;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.equal-half{
    width: 50%;
    padding-left: 5%;
}
#first-para-pad{
    padding-bottom: 20px;
}
.equal-half img{
    width: 90%;
}
.order-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 35px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
}