body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
.tomato-color{
    color: tomato;
}
h1{
    font-size: 50px;
}
.flexible-container{
    display: flex;
    margin-bottom: 40px;
}
.equal-half{
    width: 50%;
    padding-left: 5%;
}
.para-pad{
    padding-bottom: 20px;
}
.equal-half img{
    width: 90%;
}
.order-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 35px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
}
.about-me{
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.intro{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
.one-third{
    margin-top: 20px;
    margin-right: 5%;
    width: 25%;
    padding-left: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;
}
.left-corner-margin{
    margin-left: 5%;
}
.one-third img{
    padding-top: 15px;
    border-radius: 10px;
    width: 80%;
}
.social-followers{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;

}
.social-numbers{
    margin-left: 15%;
    padding-top: 5px;
    padding-bottom: 30px;
}
.footer-part{
    background-color:orange;
    padding-top: 20px;
    padding-bottom: 35px;
}